$primary-color : #FFBE01;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > header, > footer {
    color: black;
    padding: 1rem;
  }

  > header {
    font-size: 2em;
    background-color: $primary-color;
  }

  > main {
    flex-grow: 1;
    width: 90vw;
    margin: auto;
    padding: 2rem;
  }

  > footer {
    background-color: lighten($primary-color, 30);
  }
}