<%- include('../partials/_head.ejs',{title: "A propos"}) %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main class="main-about"></main>

<%- include('../partials/_footer.ejs') %>