<%- include('../partials/_head.ejs',{title: "FAQ"}) %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main class="main-faq"></main>

<%- include('../partials/_footer.ejs') %>