
<%- include('../partials/_head.ejs',{title: "Accueil"}) %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main class="main-home"></main>

<%- include('../partials/_footer.ejs') %>
