<%- include('../partials/_header.ejs', { title: 'Surya Muay Thai' }) %>

    <header id="main-header">
        <h1>
            Surya Muay thai
        </h1>
        <h2>
            Agence de voyage
        </h2>
    </header>
    <p>
        Un séjour sportif en Thaïland
        <b>
            Au pays du riz et du Bouddhisme
        </b>
    </p>
    <main>
        <section class="tradition">
            <h2>Tradition</h2>
            <ol>
                <li>
                    <h3>Histoire</h3>
                </li>
                <li>
                    <h3>Technique</h3>
                </li>
                <li>
                    <h3>Tatouge</h3>
                </li>
            </ol>

        </section>
        <section class="pratique">
            <h2>Pratique</h2>
            <ol>
                <li>
                    <h3>Matériel</h3>
                </li>
                <li>
                    <h3>Technique</h3>
                </li>
            </ol>
        </section>
    </main>

    <div class="img-championnat">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
        <img class="mySlides fade" src="/images/photo.jpg" alt="">
    </div>
    <script src="/tools/slide.js"></script>
    
    <%- include('../partials/_footer.ejs') %>