<%- include('../partials/_header.ejs') %>

<h1>Se connecter</h1>

<form method="post" class="article-form">
    <h2>Formulaire d'ajout</h2>
    <div>
        <label for="input-username">Pseudo</label>
        <input name="username" type="text" id="input-username">
    </div>
    <div>
        <label for="input-pwd">Mot de passe</label>
        <input name="password" type="password" id="input-pwd">
    </div>
    
    <div>
        <button type="submit">Login</button>
    </div>
</form>


<%- include('../partials/_footer.ejs') %>