<%- include('../partials/_header.ejs') %>

<h1>S'inscrire'</h1>

<form method="post" class="article-form">
    <h2>Formulaire d'ajout</h2>
    <div>
        <label for="input-username">Pseudo</label>
        <input name="username" type="text" id="input-username">
    </div>
    <div>
        <label for="input-firstname">Prénom</label>
        <input name="firstname" type="text" id="input-firstname">
    </div>
    <div>
        <label for="input-lastname">Nom</label>
        <input name="lastname" type="text" id="input-lastname">
    </div>
    <div>
        <label for="input-pwd">Mot de passe</label>
        <input name="password" type="password" id="input-pwd">
    </div>
    <div>
        <label for="input-confirm">Confirmation</label>
        <input name="confirm" type="password" id="input-confirm">
    </div>
    
    <div>
        <button type="submit">Login</button>
    </div>
</form>


<%- include('../partials/_footer.ejs') %>