<%- include('../partials/_header.ejs')  %>
<%- include('../partials/_navigation.ejs')  %>
<%- include('../partials/_banner.ejs')  %>

<h1>Contact</h1>

<main>
    <form method="post">
        <div>
            <label for="fname">Prénom</label>
            <input type="text" id="fname" name="fname">
        </div>

        <div>
            <label for="lname">Nom</label>
            <input type="text" id="lname" name="lname">
        </div>
        <div>
            <label for="mailing">Email</label>
            <input type="email" id="mailing" name="mail">
        </div>
        <div><label for="reason">Motif</label>
            <select name="reason" id="reason">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        <div>
            <label for="description"></label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <div>
            <button type="reset" >Effacer</button>
            <button type="submit" >Envoyer</button>
        </div>
    </form>
        
</main>
   
    

<%- include('../partials/_footer.ejs')  %>