<%- include('../partials/_header.ejs')  %>
<%- include('../partials/_navigation.ejs')  %>
<%- include('../partials/_banner.ejs')  %>

<h1>Dashboard</h1>

<main>
    <div id="caterories">cat</div>
    <aside id="show-members">users</aside>
        
</main>
   
    

<%- include('../partials/_footer.ejs')  %>