<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postgresql express</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>
    <form action="/update/<%= data[0].id%>" method="post" class="container">
        <div class="nb-3">
            <label for="todo" class="form-label">Add todo</label>
            <input type="text" class="form-control" id="todo" name="todo" autocomplete="off" value="<%= data[0].todo%>">
        </div>
        <div class="nb-3">
            <label for="todo" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="<%= data[0].date%>
        </div>
        <button class="btn btn-warning" type="submit" >Update</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</html>