$bgc-principale : #f0e68c;
$bgc-grille : #085695;

$shadow: #2e3376;

$bgc-btn: #11f653;
$border-btn: #f22215;
$shadow-btn: #d6fb17;

$hover-btn: #f45b20;
$actif-btn: #f6895a;

$color-h1 : #204f29;
$color-h2 : #76642d;

$border-color-aside :#17f352;