
<section>
    <ul>
        <li><a href="/mot">Mot</a></li>
        <li><a href="/mot/new">Nouveau mot</a></li>
        <li><a href="/mot/def">Définition</a></li>
        <li><a href="/mot/anto">Antonyme</a></li>
        <li><a href="/mot/syno">Synonyme</a></li>
        <li><a href="/mot/prono">prononciation</a></li>
        <li><a href="/mot/trad">traduction</a></li>
    </ul>
</section>