
<h2>Formulaire de prononciation</h2>

<form class="mot-form" method="post" action="/mot/prono">
        <!-- mot -->
        <div>
            <label for="mot">Mot</label>
            <input type="text" id="nouveau-mot" name="mot" required value=<%= mot %>>
        </div>
            <div>
                <label for="origine-mot">Origine de la prononciation</label>
                <input type="text" id="origine-mot" name="origine">
            </div>
            <div>
                <label for="prononciation-mot">Prononciation mot</label>
                <input type="text" id="prononciation-mot" name="prononciation">
            </div>
        <div><button type="submit">Ajouter</button></div>
        
</form>