
<h2>Formulaire de traduction</h2>

<form class="mot-form" method="post">
        <!-- mot -->
        <div>
            <label for="mot">Mot</label>
            <input type="text" id="nouveau-mot" name="mot" required value=<%= mot %>>
        </div>
        <div>
                <label for="langue-mot">Langue</label>
                <input type="text" id="langue-mot" name="langueEtrangere">
        </div>
        <div>
                <label for="abbreviation-mot">Abbreviation</label>
                <input type="text" id="abbreviation-mot" name="abbreviation">
        </div>
        <div>
                <label for="motEtranger-mot">Traduction</label>
                <input type="text" id="motEtranger-mot" name="motEtranger">
        </div>
    <div>
        <button type="submit">Ajouter</button>
    </div>
        
</form>