<footer>
    <div>

    </div>
</footer>
<div class="pied-page">
    <span>
        surya muay thai
    </span>
    <div>

        <p>cgu</p>
        <p>reclamations</p>
        <p>Copyright</p>
    </div>
    <div id="date">12:00</div>
</div>
</body>

</html>