*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 110vh;
}

h1 {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: auto;
  background-color: #2b3499;
  color: #ff6c22;
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: auto;
  background-color: #888ba9;
  color: #ffd099;
  font-size: 3rem;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f2227e;
}
main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 600px;
  padding: 6px;
  background-color: #9c57a8;
}

main section div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06f03d;
}

main section div::before,
main section div::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
}

/* Le 1 novembre 2023 */
#un-nov-2023{
  background-color: #813131;
}

.un{
  width: 140px;
  height: 140px;
  border: 40px solid #FFFCDF;
  background-color: transparent;
  transform: rotate(45deg);
}

.un::before, .un::after{
  content: "";
  width: 60px;
  height: 60px;
  background-color: #FFFCDF;
  box-shadow: 200px 0 #FFFCDF;
}
.un::before{
  top: -100px;
  left: -100px;
}
.un::after{
  top: 100px;
  left: -100px;
}

/* Le 2 novembre 2023 */
#deux-nov-2023{
  background-color: #763258;
}
.deux{
  width: 140px;
  height: 140px;
  /* border: 40px solid #FAD5E5; */
  background-color: #FAD5E5;
}
.deux::before{
  width: 140px;
  height: 140px;
  /* border: 40px solid #FAD5E5; */
  background-color: #FAD5E5;

  top: -140px;
  left: -140px;
  box-shadow: 0 280px #F067A6, 280px 0 #F067A6, 280px 280px #FAD5E5;
}
.deux::after{
  top: -70px;
  left: -140px;
  /* box-shadow: 0 -280px #F067A6; */
  width: 70px;
  height: 70px;
  background-color: #763258;
  box-shadow: 0 280px #763258, 280px 0 #763258, 280px 280px #763258, 140px 140px #763258 ;

}



/* Le 5 novembre 2023 */
.cinq,
.cinq::before,
.cinq::after {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-radius: 30% 30% / 30% 30%;
  border: 30px solid #651e57;
}

.cinq {
  background-color: transparent;
  overflow: hidden;
}
.cinq::backdrop {
  background-color: royalblue;
}
.cinq::before {
  top: calc(50% - 15px);
  left: calc(-50% - 45px);
  /* transform: rotate(90deg); */
  border-left-color: #9c57a8;
  border-bottom-color: #9c57a8;
}

.cinq::after {
  top: calc(-50% - 45px);
  left: calc(50% - 15px);
  /* filter: invert(100%); */
  /* mix-blend-mode: lighten; */
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: exclusion; */
}

#cinq-nov-2023 a {
  position: relative;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: #9c57a8;

  box-shadow: -170px 0 #9c57a8, -85px 85px #9c57a8, -85px -85px #9c57a8;
}
