
/* Font */
@font-face {
    font-family: "aquire";
    src: url("../font/aquire/Aquire-BW0ox.otf");
}

@font-face {
    font-family: "supercharge";
    src: url("../font/supercharge/Supercharge-JRgPo.otf");
}

@font-face {
    font-family: "Quantum";
    src: url("../font/quantum-font/Quantum-eZOXg.ttf");
}
  
/* Général */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: darkblue;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;

    border-radius: 6px;
}

h1{
    font-family: 'Arial Narrow Bold', sans-serif;
    padding-block: 12px;
    margin-block: 12px;
    letter-spacing: 4px;
    text-align: center;

    border-top: 1px solid #6e06f7;
    border-bottom: 10px double #000;

    background-color: rgb(188, 180, 243);
}

body > main{
    padding: 1ch;
    flex-grow: 1;
}

/* Nav */
nav > ul{
    display: flex;
    flex-direction: row;

    list-style: none;
    padding: 1rem 2ch;
    margin: 0;
    gap: 2ch;

    background-color: #000;
}

nav a {
    color: rgb(113, 111, 250);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    font-family: aquire ,supercharge, Verdana, Geneva, Tahoma, sans-serif;

    /* gradient */
    background: -webkit-linear-gradient(#eee, #c011f5, rgb(18, 240, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav a:hover {
    transform: scale(1.2);
}

footer{
    text-align: center;
    background-color: darkblue;
    color: #f1f1f1;
}

