/* Variable */
:root {
    --primary-color: black;
    --primary-color-bg: whitesmoke;
    --error-color: crimson;
}

/* Général */
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: var(--primary-color);
    background-color: var(--primary-color-bg);
}

body > main {
    padding: 1ch;
    flex-grow: 1;
}

footer {
    background-color: color-mix(in lab, var(--primary-color-bg), black 2%);
    border-top: solid color-mix(in lab, currentcolor, white 85%) 1px;
    text-align: center;
}

/* Nav */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: currentcolor;
}

nav ul {
    display: flex;
    flex-direction: row;

    list-style: none;
    padding: 0.5rem 2ch;
    margin: 0;
    gap: 2ch;
}

nav a {
    color: var( --primary-color-bg);
    text-decoration: none;
    display: inline-block;
}
nav a:hover {
    transform: scale(1.05);
}

/* Form */
form > div:not(:last-child) {
    margin-bottom: 0.5ch;
}

form > div > label {
    font-size: 1.1em;
}
form > div > label::after {
    content: ':';
    margin-left: 0.3ch;
}

form > div > input, form > div > textarea {
    width: 100%;
    outline: none;
    border: 1px solid currentcolor;
    border-radius: 0.2em;
    padding: 3px;
}
form > div > input:focus, form > div > textarea:focus {
    border-width: 2px;
    padding: 2px;
}

form > div > textarea {
    resize: none;
    min-height: 20em;
}

form .error {
    color: var(--error-color);
    font-style: oblique;
}

/* Article list */
.article-cards {
    display: flex;
    flex-direction: column;
    gap: 2ch;
    padding-top: 1em;
}

.article-cards a {
    color: currentColor;
    text-decoration: none;
}

.article-card {
    border: 0.05em solid currentcolor;
    border-radius: 1ch;
    padding: 0.5ch 1ch;
    position: relative;
}
.article-card * {
    margin: 0;
}
.article-card .title {
    font-size: 2em;
}
.article-card .author {
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 1ch;
}
.article-card .update-date {
    font-size: 0.9em;
    color: color-mix(in lab, var(--primary-color) , white 40%);

    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5ch 1ch;
}
