<%- include('../partials/_head.ejs',{title: "Magazine"}) %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main class="main-mag"></main>

<%- include('../partials/_footer.ejs') %>