<%- include('../partials/_head.ejs',{title: "Titre"}) %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main class="main-index__mot">
    <h2>Liste de mots</h2>
    <ul>
        <li>Mot</li>
    </ul>
</main>

<%- include('../partials/_footer.ejs') %>