<nav>
    <ul class= "nav--bar">
        <li><a href = "/">Accueil</a></li>
        <li><a href = "/dico">Dictionnaire</a></li>
        <li><a href = "#">Littérature</a></li>
        <li><a href = "#">Magazine</a></li>
        <li><a href = "#">Economie</a></li>
    </ul>
</nav>