<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script-io.js" defer></script>
</head>
<body>
    <h1>Demo de webSocket</h1>

    <button id="btn-hello" disabled="true">Dit bonjour !</button>

    <div id="container-message">

    </div>
</body>
</html>