<% const css = `
<style> h1 { color: hotpink; } </style>
<link rel="stylesheet" href="style.css">
` %>

<%- include('../partials/_header.ejs', { title: 'Accueil', css}) %>

<h1>Demo 02</h1>
<h2>Index - Templating express</h2>
<p>Nous sommes <%= now %></p>

<a href="/contactme">Me contacter</a>

<%- include('../partials/_footer.ejs') %>