
.home-cat{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: content;
}

.home-cat > a{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    
    div{
        display: flex;
        width: 200px;
        height: 75px;
        background-color: darkslateblue;
        

        i{
                height: 200px;
                width: 50px;
                margin: 0 auto;
        }

        h2{
            display: block;
            background-color: rgb(239, 239, 239);
            height: 50px;
            width: 150px;
            text-align: center;
        }
    }

}

.home-cat > article:nth-child(2){
    display: flex;
    width: 100%;
    min-height: fit-content;
    place-content: center;
    place-items: center;
    padding: 1px;
}

.home-cat > article > .box-container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2px;
    width: 100%;
    min-height: fit-content;
    /* background-color: blueviolet; */
}

.box-1{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: aliceblue;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 6px;
    overflow: hidden;

    img{
        position: absolute;
        top: 0;
        width: 100%;
        
    }
    div{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 5;
        padding: 6px;
        background-color: #ffffff78;

        h4{
            color: brown;
        }
        p{
            color: black;
        }

    }
}
.box-2{
    display: grid;
    min-height: 310px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}

.box-2 > a{
    display: flex;
    flex-direction: column;
    min-height: 150px;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 6px;
  
    img{
      height: 100%;
    }
  
    > div{ 
        background-color: #ffffff78;
      flex: 1;
      padding: 6px;
  
      p{
      width: 100%;
      color: black;
      }
    }
  }
/* 718px */
.home-cat > article:nth-child(2){
    container-name: article;
    container-type: inline-size;
}
/* 
@container article (max-width: 718px) {
    .home-cat > article > .box-container{
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        gap: 12px;
    }
 
} */

  

.art-international{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    overflow-x: scroll;
    box-shadow: inset 0 0 2px grey;
}
/* Carousel */
.box-int {
    width: 200px;
    height: 100%;
    margin-right: 2px;
    border: 1px solid grey;
    border-radius: 6px;
    
    
    img{
        width: 100%;
        background-color: red;
    }
    div{
        padding:0 6px;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 110px;
        
        h4{
            color: crimson;
            font-size: 0.9rem;
        }
        
        p{
            font-size: 1rem;
            text-overflow: ellipsis;
        }
    }
}