
$col-1 : "#97f2eb";
$col-2: "#ffdfed";
$col-3: "#ffefaz";
$col-4: "#c9fbac";
$col-5: "#82f2a7";
$col-6: "#9ac8eb";
$col-7: "#od1d2c";
$col-8: "#526779";
$col-9: "#b4baff";
$col-10: "#ffeb28";
$col-11:"#febb5f";
$col-12:"#fe9d15";
$col-13: "#2dbdb4";
$col-14: "#9281c0";
$col-15: "#ee71154";
$col-16: "#56b8d1";