    nav(class="navBar") 
     a(href="home/index.pug", class="logo") 
      img(src="images/logo.png", alt="logo")
     ul
       li
         a(href="home/index.pug") Home
       li
         a(href="destination/lieux.pug") Destination
       li
         a(href="message/contact.pug") Contact
