<%- include('../partials/_head.ejs',{title: "Littérature"}) %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main class="main-litt"></main>

<%- include('../partials/_footer.ejs') %>