<%- include('../partials/_header.ejs', { title: '404 page not found' }) %>

<h2>La page n'existe pas</h2>

    <pre>(╯°□°）╯︵ ┻━┻</pre>
    <!-- <img src="/images/lost.webp" alt="Perdu ?"> -->

<%- include('../partials/_footer.ejs') %>