$top: left;

/*
    light theme
*/
$light-background: #fff0bc;
$light-text: #0f056b;
$dark-background: #370028;
$dark-text: #40826d;

/* --------------------------- */

/*
    border
*/
$light: 1px solid black;
$medium: 3px solid black;
$heavy: 6px solid black;
$none: none;
/* ---------------------------- */
