*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    place-content: center;
    padding: 12px;
    border-bottom:7px solid aqua;
    text-align: center;
}
header figure {
    display: flex;
    place-content: center;
    width: 150px;
}
header figure > img {
    width: 100%;
}