
.element {
    display: inline-block;
    width: 3rem;
    aspect-ratio: 1/1;
    background-color: aqua;
    text-align: center;
    border: solid 0.5ch navy;
    color: navy;
}

/* Pas de :hover -> Car demo event en JS 😅 */
.hover {
    border-color: hotpink;
    color: hotpink;;
}

#fred {
    background-color: palevioletred;
    width: 10rem;
}