<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index :o</h1>
    <h2>Nous somme le <%= today %></h2>

    <h2>Liste de personnes</h2>
    <ul>
        <% for(const person of people) { %>
            <li><%=person %></li>
        <% } %>
    </ul>


    <h2>Me contacter</h2>
    <a href="/contact">Formulaire de contact</a>
</body>
</html>