nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 12px;
    background-color: azure;
    height: 100px;

    & > *{
        display: flex;
        background-color: bisque;
        flex: 1;

        li{
            margin: 5px;
        }
    }
}