<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Express + MongoDB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/article">Article</a></li>
        </ul>
        <% /* Utilisation de la variable "locals" pour manipuler la session */ %>
        <ul>
            <% if(locals.session?.user) { %>
                <li><a href="/member/logout">Se déconnecter</a></li>
            <% } else { %>
                <li><a href="/member/login">Se connecter</a></li>
                <li><a href="/member/register">S'inscrire</a></li>
            <% } %>
        </ul>
    </nav>
    <main>