#root {
  width: 100%;
  margin: 0 auto;
}

main{
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 6px;
  width: 80%;
  margin: 12px auto;
  min-height: 500px;
  > * {
    /* background-color: brown; */
  }
}



