<nav class="navigation">
    <ul class= "nav--bar">
        <li><a href = "/">Accueil</a></li>
        <li><a href = "/dico">Dictionnaire</a></li>
        <li><a href = "/litt">Littérature</a></li>
        <li><a href = "/mag">Magazine</a></li>
        <li><a href = "/eco">Economie</a></li>
    </ul>
</nav>