

<footer>

    <h2>Contact</h2>
    <div>
        <h3>Adresse : </h3>
            
            <address>
                Rue des Dominicains, 24,<br>
                1450 Bruxelles <br>
                Téléphone : 04/290 04 70 <br>
                Email : m.actu@mobayi.be <br>
                Site Web : www.mobayi.be
            </address>
    </div>
    



</footer>
</body>