
<nav>
    <ul class="menu">
        <% console.log(locals.session?.user?.role)  %>
        
        <li class="menu-item"><a href="/"><b>Accueil</b></a></li>
        <li class="menu-item"><a href="/about"><b>A-propos</b></a></li>
        
        <% if(locals.session?.user?.role === "Admin" || locals.session?.user?.role ===  "Editor") { %>
            <li class="menu-item"><a href="/article"><b>Articles</b></a></li>
            
            <% if(locals.session?.user?.role === "Admin")  { %>
                <li class="menu-item"><a href="/advert"><b>Advert</b></a></li>
                
                <li class="customer"><a href="/customer/all"><b>Les utilisateurs</b></a></li>

            <% } %>
        <% } %>

        <li class="menu-item"><a href="/contact"><b>Contact</b></a></li>
    </ul>

    <ul class="profil">
        
        <% if(locals.session?.user) { %>
        <li class="profil-item"><a href="/customer/logout">se déconnecter</a></li>
        <% } else { %>
        <li class="profil-item"><a href="/customer/register">s'inscrire</a></li>
        <li class="profil-item"><a href="/customer/login">se connecter</a></li>
        <% } %>
    </ul>
</nav>