<%- include('../partials/_head.ejs',{title: paramValue}) %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<main class="main-eco"></main>

<%- include('../partials/_footer.ejs') %>