.formulaire-connexion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  padding: 10px;

  border-radius: 10px;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  width: 100%;
  padding: 10px;
}

fieldset {
  width: 100%;
}

#coo-nom,
#coo-tel,
#coo-email,
#coo-action {
  width: 100%;
  padding: auto auto;
  margin-block: 5px;
}

#coo-sexe{
  padding: 10px;
}
#coo-email{
  margin-bottom: 10px;
}

fieldset div input:nth-child(1),
#coo-action input:nth-child(1) {
  float: left;
  width: 49%;
}
fieldset div > input,
#coo-action > input {
  float: right;
  width: 49%;
  padding: 5px;
}

#coo-majeur span,
#coo-sexe span {
  display:inline;
  margin-inline: 25px;
}

#coo-majeur,
#coo-sexe {
  display: inline;
}

#coo-sexe span > * {
  margin-inline: 2px;
}

#coo-email input {
  width: 100%;
  padding: 5px;
}

.clear {
  clear: both;
}
