$color-primary: navy;
$color-secondary: darkturquoise;

$color-on-primary: hotpink;
$color-on-secondary: plum;

$color-white: whitesmoke ;
$color-success: chartreuse;
$color-error: red;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 20px;

    & > *{
    }
}

h1{
    color: $color-primary;
    font-size: 3rem;
}

h2{
    color: $color-secondary;
    font-size: 2rem;

    + p{
        font-style: oblique;
    }

    &:not(:first-child){
        margin-top: 0.5rem;
    }
}

.btn{
    padding: 0.5ch 1ch;
    border: none;
    border-radius: 0.7em;

    background-color: $color-primary;
    color: $color-on-primary;
    margin: 0.1rem;

    &:hover{
        transform: scale(1.2);
    }

    &-success, &-error{
        color: $color-white;
    }

    &-success{
        background-color: $color-success;
    }
    &-error{
        background-color: $color-error;
    }

    /* 
    &{
        &success, &error{
        color: $color-white;
    }

    &success{
        background-color: $color-success;
    }
    &error{
        background-color: $color-error;
    }

    }
    */
}

$color-link: #098df8;
$color-link-hover: #2299fa; 
$color-link-visited:  #afd7f8;


a{
    text-decoration: none;
    color: $color-link;

    &:visited{
        color: lighten($color-link, 20%);
    }
    &:focus, &:hover{
        color: darken($color-link, 10%);
    }
    &:active{
        font-weight: bold;
    }
}


/* 
    Mobile     :  moins de 425px (1 elmt par ligne)
    Tablette    : entre 426px & 768px    (2 elmts par ligne)
    Desktop     : plus de 769px (5 elts par ligne)
*/

$breakpoint-tablet: 425px;
$breakpoint-desktop: 768px;

// #elemts{
//     // variable sass local
//     $gap-elem : 0.5ch;
//     $dim-elem: calc(100% - 0.5ch);
//     /*  ▼ */
//     --col: 100%;
//     // :root{
//     //     --test:2;
//     // }

//     display: flex;
//     flex-flow: row wrap;
//     gap : $gap-elem;

//     @media screen and (min-width: $breakpoint-tablet){
//         --col: calc($dim-elem / 2);
//     }
    
//     @media screen and (min-width: $breakpoint-desktop){
//         --col: calc($dim-elem / 5);
//     } 

//     .elem{
//         background-color: #ca907e;
//         flex-basis: var(--col); 
//         flex: 1;
//     }
// }

#elemts{
    // variable sass local
    $gap-elem : 0.5ch;
    $dim-elem: calc(100% - 0.5ch);
    /*  ▼ */
    --col: 1;
    // :root{
    //     --test:2;
    // }

    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    gap : $gap-elem;

    @media screen and (min-width: $breakpoint-tablet){
        --col: 2;
    }
    
    @media screen and (min-width: $breakpoint-desktop){
        --col: 5;
    } 

    .elem{
        // background-color: #ca907e;
        color: whitesmoke;
        padding: 10px;
    }
}

#extend-elem{
    .base{
        background-color: chocolate;
        color: antiquewhite;
        width: 100px;
        height: 50px;
        padding: 1rem;
        text-align: center;
        border-radius: 1em;
        border: 0.5ch solid plum;
    }
    .variant{
        @extend .base;
        border-color: gold;
        color: gold;
        margin-top: 10px;
    }

    .other{
        @extend .variant;
    }
}

@mixin custom-border($color, $size: 5px){
    border: $size solid $color;
    border-radius: 1em;
}

#mixin-elem{

    #mixin1, #mixin2{
        padding: 1rem;
        width: 100px;
    }

    #mixin1{
        background-color: aqua;
        @include custom-border(#D2DE32);
    }
    #mixin2{
        background-color: forestgreen;
        @include custom-border(#FFC436, 20px);
        margin-top: 10px;
    }

}

$elem-colors : (aqua, red, forestgreen, plum, navy, gold);

@for $jo from 1 through 6 {
    // #elem#($jo){
    
        .elem#{$jo}{
        background-color: nth($elem-colors, $jo);
    }

}

$block-sizes: (10, 25, 33, 50, 66, 100);

@each $size in $block-sizes{
    .size-#{$size}{
        width: percentage($size/100);
    }
}

#size-elem{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    width: 100%;
    background-color: #2299fa;

    & > div{
        display: flex;
        place-content: center;
        place-items: center;
        height: 75px;
        margin: 2ch;
        box-shadow: 0 0 5px green;
        background-color: aliceblue;
    }
}
