html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
        // <link rel="stylesheet"  href="./css/style.css" type="text/css">
        link(rel='shortcut icon', type='image/png', href='../img/favicon.png')
    body 
        h1 Questions Fréquentes
        p(class="paraph") Les réponses à vos questions

        p= message

        img(src="../img/favicon.png", alt="", srcset="")