html(lang="en")
    //- HEAD
    include _head

    body 
        //- header(class="header")
        include _header

        //- CONTENT 
        section.overview 
            h2= sect

        //- FOOTER
        include _footer