
.header{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-color: #179af4;/* #179af4 */
    border-bottom: 4px solid #179af4;


    > * {
        display: flex;
        place-content: center;
        width: calc(100% / 3);
        height: 120px;
    }
}

.header a{
    img{
        height: 100%;;
    }
}

.local-actu{


}


.don{
    
    span{
        display: grid;
        place-content: center;
        place-items: center;
        width: 320px;
        font-size: 2rem;
        color: darkorange;
        border: 4px solid darkorange;
    }
}

.logo{
    
    
}

